.contain {
    margin-bottom: 50px;
}

.container-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 30px;
}
 
.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

@media screen and (max-width: 48rem) {
    .container-pokemon {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}