<div class="pokedex d-flex justify-content-center">
    <div class="panel left-panel">
        <div id="up-left" class="d-flex">
            <div id="buttonGlass">
                <div id="reflect"></div>
            </div>
            <div id="miniButtonGlass1"></div>
            <div id="miniButtonGlass2"></div>
            <div id="miniButtonGlass3"></div>
        </div>
        <div id="screen" class="container">
            <div id="topPicture" class="mx-auto">
                <div id="buttontopPicture1"></div>
                <div id="buttontopPicture2"></div>
            </div>
            <div id="picture" class="mx-auto" *ngIf="pokemon">
                <img [src]="pokemon.picture" alt="Pokemon {{ pokemon.name }}" />
            </div>
            <div id="buttonbottomPicture"></div>
            <div id="speakers">
                <div class="sp"></div>
                <div class="sp"></div>
                <div class="sp"></div>
                <div class="sp"></div>
            </div>
        </div>

        <div class="back-left d-flex">
            <div class="col-auto">
                <div id="blackbutton" *ngIf="pokemon">
                    <button [routerLink]="['/pokemons', pokemon.pokedexid]" class="returnButton"></button>
                </div>
            </div>
            <div class="col back-left-center">
                <div class="d-flex justify-content-around">
                    <div id="barbutton1"></div>
                    <div id="barbutton2"></div>
                </div>
                <div id="leftBox" class="text-center" *ngIf="pokemon">
                    <h1>{{ pokemon.name }}</h1>
                    <h2><input type="number" placeholder="{{pokemon.pokedexid}}" id="pokedexIdInput" [(ngModel)]="pokedexid" (ngModelChange)="goToSearchedPokemon()" /></h2>
                </div>
            </div>
            <div class="col-auto">
                <div id="cross">
                    <div id="leftcross">
                        <button class="leftButton" (click)="goToPreviousPokemon()">
                            <div id="leftT"></div>
                        </button>
                    </div>
                    <div id="topcross">
                        <div id="upT"></div>
                    </div>
                    <div id="rightcross">
                        <button class="leftButton" (click)="goToNextPokemon()" ></button>
                        <div id="rightT"></div>
                    </div>
                    <div id="midcross">
                        <div id="midCircle"></div>
                    </div>
                    <div id="botcross">
                        <div id="downT"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Partie centrale -->
    <div class="divider">
        <div class="hinge"></div>
        <div class="gap"></div>
        <div class="hinge"></div>
        <div class="gap"></div>
        <div class="hinge"></div>
    </div>

    <!-- Partie de droite -->
    <div class="panel right-panel d-flex justify-content-evenly">
        <div class="panel-row">
            <div class="screen stats" *ngIf="pokemon">
                <p>
                    <strong>{{ pokemon.description }}</strong>
                </p>
            </div>
        </div>

        <div class="container g-0">
            <!-- Première ligne -->
            <div class="row g-0 d-flex">
                <ng-container *ngFor="
            let pokemonItem of getPokemonItems().slice(0, 5);
            let i = index
          ">
                    <div class="col blue-button">
                        <a *ngIf="pokemonItem" [routerLink]="['/pokedex', pokemonItem.pokedexid]">
                            <img *ngIf="pokemonItem.picture" [src]="pokemonItem.picture" [ngClass]="
                  'type-' + pokemonItem.types[0]?.wording.toLowerCase()
                " class="imgEvo img-fluid" alt="Pokemon" />
                        </a>
                    </div>
                </ng-container>
            </div>

            <!-- Deuxième ligne -->
            <div class="row g-0 d-flex">
                <ng-container *ngFor="
            let pokemonItem of getPokemonItems().slice(5, 10);
            let i = index
          ">
                    <div class="col blue-button">
                        <a *ngIf="pokemonItem" [routerLink]="['/pokedex', pokemonItem.pokedexid]">
                            <img *ngIf="pokemonItem.picture" [src]="pokemonItem.picture" [ngClass]="
                  'type-' + pokemonItem.types[0]?.wording.toLowerCase()
                " class="imgEvo img-fluid" alt="Pokemon" />
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="controls d-flex justify-content-end">
            <div class="barButtonRight"></div>
            <div class="barButtonRight"></div>
        </div>

        <div class="controlsWhite d-flex justify-content-between" *ngIf="pokemon">
            <div class="d-flex">
                <div class="white-button d-flex align-items-center">
                    <p>
                        <strong> {{ pokemon.height }}</strong>
                    </p>
                </div>
                <div class="white-button d-flex align-items-center">
                    <p>
                        <strong>{{ pokemon.weight }}</strong>
                    </p>
                </div>
            </div>
            <div class="d-flex align-items-end">
                <div class="miniButtonGlassRight"></div>
            </div>
        </div>

        <div class="d-flex">
            <div class="screenRightBack col">
                <div class="row g-0" *ngIf="pokemon">
                    <div class="col d-flex align-items-center justify-content-center">
                        <img [src]="pokemon.types[0].picture" alt="Type {{ pokemon.types[0].wording }} du pokemon {{
                pokemon.name
              }}" class="img-types img-fluid" />
                    </div>
                    <div class="col d-flex align-items-center justify-content-center">
                        <p>{{ pokemon.types[0].wording }}</p>
                    </div>
                </div>
            </div>
            <div class="screenRightBack col">
                <div class="row g-0" *ngIf="pokemon && pokemon.types[1]">
                    <div class="col d-flex align-items-center justify-content-center">
                        <img [src]="pokemon.types[1].picture" alt="Type {{ pokemon.types[1].wording }} du pokemon {{
                pokemon.name
              }}" class="img-types img-fluid" />
                    </div>
                    <div class="col d-flex align-items-center justify-content-center">
                        <p>{{ pokemon.types[1].wording }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>