<div class="contain">
  <div id="app-container" class="row mx-auto">
    <h1 class="title custom-font-solid">Pokédex Junior</h1>
    <p class="title custom-font-solid subtitle">Attrapez les Tous !!!</p>
    <div class="col-md-4 mainText">
      <div>
        <p><strong>Bienvenue dans le Monde Pokémon !</strong></p>

        <p>
          Plonge dans l'univers captivant des Pokémon avec notre application
          unique. Explore une vaste collection de créatures fascinantes, chacune
          avec ses propres pouvoirs et charmes uniques.
        </p>

        <p>
          🔍 Explore les Pokémon : Parcoure notre Pokédex pour découvrir des
          informations détaillées, des images éclatantes, et des faits
          intéressants sur tes Pokémon préférés.
        </p>

        <p>
          🏆 Attrapez vos Pokémon favoris : En créant un compte, tu pourras
          choisir parmi une myriade de créatures et créer ta collection
        </p>

        <p>
          Rejoins-nous dans cette aventure épique où la découverte, la
          collection, et la passion Pokémon t'attendent !
        </p>
      </div>
      <div class="d-flex justify-content-evenly align-items-baseline">
        <a [routerLink]="['/master']" class="link"
          ><strong>En avant!!!</strong></a
        >
        <a href="#" (click)="bonjourModal()" class="btnTuto"
          ><strong>Tuto</strong></a
        >
      </div>

      <dialog id="carouselDialog">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="slide-container">
              <img
                src="../../../assets/img/Tuto1.avif"
                alt="Tuto 1"
                class="img-fluid"
              />
              <span class="image-text d-flex text-center">
                <strong
                  >Créée toi un compte et un profil <br />
                  Plusieurs profils possibles</strong
                ></span
              >
              <span class="close-icon" (click)="aurevoirModal()">&times;</span>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="slide-container">
              <img
                src="../../../assets/img/Tuto2.avif"
                alt="Tuto 2"
                class="img-fluid"
              />
              <span class="image-text d-flex text-center"
                ><strong
                  >Une fois connecté, clique sur la pokeball pour attraper ton
                  Pokémon</strong
                ></span
              >
              <span class="close-icon" (click)="aurevoirModal()">&times;</span>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="slide-container">
              <img
                src="../../../assets/img/Tuto3.avif"
                alt="Tuto 3"
                class="img-fluid"
              />
              <span class="image-text d-flex text-center"
                ><strong
                  >Le voilà aujouté à ta collection, tu peux personnaliser dans quel(s) jeu(x) tu l'as attrapé</strong
                ></span
              >
              <span class="close-icon" (click)="aurevoirModal()">&times;</span>
            </div>
          </ng-template>
        </ngb-carousel>
      </dialog>
    </div>

    <!-- Affichage de la carte Pokémon aléatoire -->
    <div
      class="col-md-4 pokemon d-flex justify-content-evenly"
      *ngIf="randomPokemon"
    >
      <div>
        <app-card [pokemon]="randomPokemon"></app-card>
      </div>
      <div>
        <button class="btn-pokemon" (click)="generateRandomPokemon()">
          Un Pokémon Sauvage Apparait !!!
        </button>
      </div>
    </div>
  </div>
</div>
