.contain {
  display: flex;
  align-items: center;
  height: 80vh;
}

#app-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;

  margin: 0;

  font-size: 2.5rem;

  letter-spacing: 4px;

  color: yellow;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.link {
  text-align: center;
  font-size: x-large;
}

.link a {
  color: #e61515;
  transition: all 500ms;
}

.link a:hover {
  color: #fff;
}

.card-wrapper {
  flex: 0 0 calc(33.33% - 10px);
  /* Ajustez selon vos préférences */
  margin-right: 10px;
  /* Ajustez selon vos préférences */
}

.mainText {
  background-color: rgba(242, 242, 242, 0.5);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

/* Media Queries */
@media only screen and (max-width: 48rem) {
  #app-container {
    margin-top: 2rem;
  }
  .contain {
    height: auto;
  }
  .title {
    margin-top: 1rem;
    font-size: 25px;
  }
  p {
    font-size: 12px;
  }
  .pokemon {
    display: none;
  }
}

@media only screen and (max-height: 46.5rem) {
  .title {
    margin-top: 1rem ;
  }
  }