<div class="contain">
  <div id="app-container" class="row mx-auto">
    <h1 class="title custom-font-solid">Pokédex Junior</h1>
    <p class="title custom-font-solid subtitle">Attrapez les Tous !!!</p>
    <div class="col-md-4 mainText">
      <div>
        <p><strong>Bienvenue dans le Monde Pokémon !</strong></p>

        <p>
          Plonge dans l'univers captivant des Pokémon avec notre application
          unique. Explore une vaste collection de créatures fascinantes, chacune
          avec ses propres pouvoirs et charmes uniques.
        </p>

        <p>
          🔍 Explore les Pokémon : Parcoure notre Pokédex pour découvrir des
          informations détaillées, des images éclatantes, et des faits
          intéressants sur tes Pokémon préférés.
        </p>

        <p>
          🏆 Attrapez vos Pokémon favoris : En créant un compte, tu pourras
          choisir parmi une myriade de créatures et créer ta collection
        </p>

        <p>
          Rejoins-nous dans cette aventure épique où la découverte, la
          collection, et la passion Pokémon t'attendent !
        </p>
      </div>
      <div class="link">
        <a [routerLink]="['/master']"><strong>En avant!!!!</strong></a>
      </div>
    </div>

    <!-- Affichage de la carte Pokémon aléatoire -->
    <div class="col-md-4 pokemon d-flex justify-content-evenly" *ngIf="randomPokemon">
      <div>
        <app-card [pokemon]="randomPokemon"></app-card>
      </div>
      <div>
        <button class="btn-pokemon" (click)="generateRandomPokemon()">
          Un Pokemon Sauvage Apparait !!!
        </button>
      </div>
    </div>
  </div>
</div>
