<div class="container">
  <div class="card" style="--clr: #009688">
    <div class="img-box">
      <img src="{{ pokemon.picture }}" />
    </div>
    <div class="content">
      <h2>{{ pokemon.name }} #{{ pokemon.pokedexid }}</h2>
      <div id="flex">
        <ng-container *ngFor="let type of pokemon.types">
          <div class="type-container">
            <img [src]="type.picture" alt="{{ type.wording }}" />
            <p>{{ type.wording }}</p>
          </div>
        </ng-container>
      </div>
      <div class="boutOn">
        <button
          class="btn-pokemon"
          [routerLink]="['/pokemons/', pokemon.pokedexid]"
        >
          Fiche Complete
        </button>
      </div>
    </div>
  </div>
</div>
