.container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 0px 0px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 277px;
  max-width: 100%;
  height: 277px;
  background: rgb(44, 62, 80);
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.card:hover {
  height: 350px;
}

.img-box {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
  background: #adb9c0;
}

.card:hover .img-box {
  top: -70px;
  transform: scale(0.85);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  position: absolute;
  top: 210px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .content {
  top: 130px;
  height: 250px;
}

.content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(255, 255, 0, 0.850);
}

.type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-container img {
  margin-bottom: 2px;
}

.content p {
  color: white;
  margin-top: 10px;
  text-transform: uppercase;
}

a:hover {
  opacity: 0.8;
}

#flex {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 48rem) {
  .type-container {
    display: none;
    /* Cacher les types */
  }
  .card {
    transition: none;
    /* Supprimer la transition */
    position: relative;
    height: 250px;
  }

  .card:hover {
    height: 250px;
    /* Annuler l'animation au survol */
  }

  .card .img-box {
    top: 20px;
    /* Rétablir la position initiale */
    transform: none;
    /* Annuler la transformation */
    box-shadow: none;
    /* Supprimer l'ombre */
  }

  .card:hover .img-box {
    top: 20px;
    /* Annuler la transition au survol */
    transform: none;
    box-shadow: none;
  }

  .content {
    top: 160px;
    /* Rétablir la position initiale */
    height: 80px
  }

  .card:hover .content {
    top: 160px;
    /* Annuler l'animation au survol */
    height: 35px;
  }
  .img-box {
    height: 130px;
    width: 80%;
  }

  .boutOn {
    position: relative;
    z-index: 10!important;
  }
  h2 {
    margin-bottom: 0px;
  }
  .btn-pokemon {
    padding: 4px;
  }
}
