<div class="container">
  <div class="card" style="--clr: #009688">
    <div class="img-box">
      <img src="{{ pokemonToDisplay.picture }}" />
    </div>
    <div class="content">
      <h2>{{pokemonToDisplay.name}} #{{pokemonToDisplay.pokedexid}}</h2>
      <p>
        <ng-container *ngFor="let type of pokemonToDisplay.types">
          <div class="type-container">
            <img [src]="type.picture" alt="{{ type.wording }}" loading="lazy" />
            <span>{{ type.wording }}</span>
          </div>
        </ng-container>
      </p>

      <a href="">Read More</a>
    </div>
  </div>
</div>
