<div class="container">
  <div class="card" style="--clr: #009688">
    <div class="img-box">
      <img src="{{ pokemonToDisplay.picture }}" />
    </div>
    <div class="content">
      <h2>{{pokemonToDisplay.name}} #{{pokemonToDisplay.pokedexid}}</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto,
        hic? Magnam eum error saepe doloribus corrupti repellat quisquam alias
        doloremque!
      </p>
      <a href="">Read More</a>
    </div>
  </div>
</div>
