<footer class="footer fixed-bottom">
    <div class="container-fluid d-flex justify-content-between align-items-baseline">
        <div class="align-self-center mt-2 planDuSite d-flex align-items-baseline">
            <h3 class="subtitle">Mon Pokedex Junior</h3>
            <ul class="d-flex">
                <li>
                    <a [routerLink]="['']" class="nav-link">Accueil</a>
                </li>
                <li>
                    <a [routerLink]="['/pokemons']" class="nav-link">Pokémon</a>
                </li>
                <li>
                    <a [routerLink]="['/master']" class="nav-link">Mon PC Pokémon</a>
                </li>
            </ul>
        </div>

        <div class="d-flex align-self-center droitReserve align-items-baseline">
            <p>2023 - PokedexJunior.fr</p>
        </div>
    </div>

</footer>