<footer class="footer fixed-bottom">
    <div class="container-fluid d-flex justify-content-between ">
        <div class="align-self-center mt-2 mb-2 planDuSite d-flex">
            <h5>Mon Pokedex Junior</h5>
            <ul class="d-flex">
                <li>
                    <a [routerLink]="['']" class="nav-link">Accueil</a>
                </li>
                <li>
                    <a [routerLink]="['/pokemons']" class="nav-link">Pokemons</a>
                </li>
                <li>
                    <a [routerLink]="['/master']" class="nav-link">Mon PC Pokemon</a>
            </ul>
        </div>

        <div class="align-self-center droitReserve">
            <p>2023 - On fait comme on peut Compagnie</p>
        </div>
    </div>

</footer>