nav {
    background-color: #e61515;
}

#logoNavBar {
    height: 3rem;
    width: auto;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-right: 4rem;
}

.nav-link:hover, .navbar-brand:hover {
    cursor: pointer;
    color: yellow;
    animation: swing 1s ease infinite;
}

.large-text {
    font-size: 1.8rem;
}

.text-curved {
    transform: skewY(-5deg);
    /* Ajustez l'angle selon vos préférences */
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
