.contain {
    position: relative;
    /* Assurez-vous que la position est relative pour que l'élément enfant utilise cette position comme point de référence */
    max-height: 100vh;
    /* Définit une hauteur maximale en pourcentage de la hauteur de la vue (viewport height) */
    overflow-y: auto;
    /* Active la barre de défilement verticale lorsque le contenu dépasse la hauteur maximale */    
}
