.background-image {

    background-image: linear-gradient(rgba(255, 202, 0, 0.4), #FFCA00 60%), url('/src/assets/img/imgdefont.jpg');
    /* Chemin de l'image depuis la racine du projet */
    background-size: cover;
    /* Ajuste l'image pour couvrir tout l'écran */
    background-position: center;
    /* Centre l'image horizontalement et verticalement */
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image */
    height: 100vh;
}