.accordion {
    display: flex;
    justify-content: center;
}

.btn {
    margin-right:10px;
}

@media screen and (max-width: 48rem) {
    .displayLittleScreen {
        display: none;
        /* Cacher les types */
    }
}