<div class="signup-form">
  <form
    #resetForm="ngForm"
    class="sign-back"
    (ngSubmit)="resetPassword(resetForm)"
  >
    <h1>Modifier votre mot de passe</h1>

    <div class="signup-row d-flex">
      <input
        type="{{ showPassword ? 'text' : 'password' }}"
        required
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&\.-])[A-Za-z\d@$!%*?&\.-]{12,}"
        [(ngModel)]="master.password"
        name="password"
        #password="ngModel"
        [class.input-error]="password.invalid && isFormSubmit"
        [class.input-error-email]="loginNone"
        placeholder="MOT DE PASSE"
      />
      <button
        type="button"
        class="password"
        (click)="togglePasswordVisibility()"
      >
        {{ showPassword ? "&#x1F441;" : "&#x1F440;" }}
      </button>
    </div>
    <div *ngIf="password.invalid && isFormSubmit" class="alert">
      <div *ngIf="password.errors?.['required']">
        Le mot de passe est obligatoire.
      </div>
      <div class="errorMdp" *ngIf="password.errors?.['pattern']">
        Au moins 12 caractères, 1 majuscule, 1 chiffre et 1 symbole.
      </div>
    </div>

    <div class="signup-row">
      <div class="d-flex">
        <input type="{{ showPassword ? 'text' : 'password' }}" required [(ngModel)]="master.password_confirm"
          name="password_confirm" #password_confirm="ngModel" [class.input-error]="
                  master.password !== master.password_confirm && isFormSubmit
                " placeholder="CONFIRMATION DU MOT DE PASSE" />
        <button type="button" class="password" (click)="togglePasswordVisibility()">
          {{ showPassword ? "&#x1F441;" : "&#x1F440;" }}
        </button>
      </div>
    
      <div *ngIf="master.password !== master.password_confirm && isFormSubmit" class="alert">
        <div class="errorConfirme">
          Les mots de passe ne correspondent pas.
        </div>
      </div>
    </div>
    <div *ngIf="loginNone" class="alert">
      Vérifiez votre email et votre mot de passe.
    </div>

    <!-- Se connecter -->
    <div class="form-bottom d-flex align-items-center">
      <div class="remember">
        <button class="btn-pokemon" type="submit">Modier le mot de passe</button>
      </div>
    </div>
  </form>
</div>
