<div class="contain">
    <div class="d-flex flex-column align-items-center justify-content-center text-center">
        <div>
            <img src="../../../assets/img/eevee-7792958_1280.png" alt="image de pokemon, page 4040" />
        </div>
        <div>
            <h1>ERREUR 404</h1>
        </div>
        <div>
            <p>
                La page demandée n’existe pas. Veuillez retourner à la
                <a [routerLink]="['']">page d’accueil</a>.
            </p>
        </div>
    </div>
</div>