.signup-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.sign-back h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px #333;
}

.signup-row {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.signup-row input {
  width: 100%;
  padding: 5px 0;
  border: 0;
  border-bottom: 1px solid black;
  background: transparent;
  text-align: center;
  outline: none;
  color: black;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.signup-row input::-webkit-input-placeholder {
  color: black;
  
}

.signup-row i {
  color: black;
  position: relative;
  left: 20px;
  
}

.signup-row a {
  font-size: 40px;
  text-decoration: none;
}

.sign-back {
    width: 50%;
}

.signup-row a i {
  left: 0;
}

.form-bottom {
  display: flex;
  justify-content: center;
}

.remember:not(:last-child) {
    margin-right: 30px;
    color: #af942d;
}

.remember a {
    text-decoration: none;
    color: #e61515;
    transition: all 500ms;
}

.remember a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

input[type="checkbox"] {
  position: relative;
  top: 1px;
}

.alert {
  color: #982312;
  font-size: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
 text-align: center;
}

.password {
  background-color: transparent;
  border: none;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  z-index: 1000;
}

.close-icon:hover {
  color: #ff0000;
}

#resetDialog {
  border-radius: 10px;
}

#email{
  width: 75%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 48rem) {
  .sign-back {
    width: 80%;
  }
}
