<div class="signup-form">
  <form #loginForm="ngForm" class="sign-back" (ngSubmit)="login(loginForm)">
    <h1>Connexion</h1>
    <div class="signup-row">
      <input
        type="email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        [(ngModel)]="master.email"
        name="email"
        #email="ngModel"
        [class.input-error]="email.invalid && isFormValidate"
        [class.input-error-log]="loginNone"
        placeholder="EMAIL (example@mail.fr)"
      />
    </div>

    <div *ngIf="email.invalid && isFormValidate" class="alert">
      <div *ngIf="email.errors?.['required']"><p>L'email est obligatoire.</p></div>
      <div *ngIf="email.errors?.['pattern']">
        <p>Veuillez entrer une adresse email valide.</p>
      </div>
    </div>

    <div class="signup-row d-flex">
      <input
        type="{{ showPassword ? 'text' : 'password' }}"
        required
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&\.-])[A-Za-z\d@$!%*?&\.-]{12,}" 
        [(ngModel)]="master.password"
        name="password"
        #password="ngModel"
        [class.input-error]="password.invalid && isFormValidate"
        [class.input-error-email]="loginNone"
        placeholder="MOT DE PASSE"
      />
      <button type="button" class="password" (click)="togglePasswordVisibility()">
        {{ showPassword ? '&#x1F441;' : '&#x1F440;' }}
      </button>
    </div>
    <div *ngIf="password.invalid && isFormValidate" class="alert">
      <div *ngIf="password.errors?.['required']">
        Le mot de passe est obligatoire.
      </div>
      <div class="errorMdp" *ngIf="password.errors?.['pattern']">
        Au moins 12 caractères, 1 majuscule, 1 chiffre et 1 symbole.
      </div>
    </div>
    <div *ngIf="loginNone" class="alert">
      Vérifiez votre email et votre mot de passe.
    </div>
    <div class="form-bottom d-flex align-items-center">
      <div class="remember">
        <button class="btn-pokemon" type="submit">
          Se Connecter
        </button>
      </div>
      <div class="remember">
        <a [routerLink]="['/register']">Pas encore inscrit?</a>
      </div>
    </div>
  </form>
</div>
