<div class="signup-form">
  <form #loginForm="ngForm" class="sign-back" (ngSubmit)="login(loginForm)">
    <h1>Connexion</h1>
    <div class="signup-row">
      <input
        type="email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        [(ngModel)]="master.email"
        name="email"
        #email="ngModel"
        [class.input-error]="email.invalid && isFormValidate"
        [class.input-error-log]="loginNone"
        placeholder="EMAIL (example@mail.fr)"
      />
    </div>

    <div *ngIf="email.invalid && isFormValidate" class="alert">
      <div *ngIf="email.errors?.['required']">
        <p>L'email est obligatoire.</p>
      </div>
      <div *ngIf="email.errors?.['pattern']">
        <p>Veuillez entrer une adresse email valide.</p>
      </div>
    </div>

    <div class="signup-row d-flex">
      <input
        type="{{ showPassword ? 'text' : 'password' }}"
        required
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&\.-])[A-Za-z\d@$!%*?&\.-]{12,}"
        [(ngModel)]="master.password"
        name="password"
        #password="ngModel"
        [class.input-error]="password.invalid && isFormValidate"
        [class.input-error-email]="loginNone"
        placeholder="MOT DE PASSE"
      />
      <button
        type="button"
        class="password"
        (click)="togglePasswordVisibility()"
      >
        {{ showPassword ? "&#x1F441;" : "&#x1F440;" }}
      </button>
    </div>
    <div *ngIf="password.invalid && isFormValidate" class="alert">
      <div *ngIf="password.errors?.['required']">
        Le mot de passe est obligatoire.
      </div>
      <div class="errorMdp" *ngIf="password.errors?.['pattern']">
        Au moins 12 caractères, 1 majuscule, 1 chiffre et 1 symbole.
      </div>
    </div>
    <div *ngIf="loginNone" class="alert">
      Vérifiez votre email et votre mot de passe.
    </div>

    <!-- Mot de passe oublié -->
    <div class="form-bottom d-flex align-items-center">
      <div class="remember">
        <a (click)="bonjourModal()">Mot de passe oublié</a>
        <dialog id="resetDialog">
          <p class="newPasswordTitle">
            Si le mail existe dans notre base de donnée, un mail de
            réinitialisation sera envoyé
          </p>
          <form (submit)="envoyerMail()">
            <label for="resetEmail">Adresse e-mail :</label>
            <input
              type="email"
              id="resetEmail"
              required
              [(ngModel)]="resetEmail"
              [ngModelOptions]="{ standalone: true }"
            />
            <div class="d-flex justify-content-evenly">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="aurevoirModal()"
              >
                Retour
              </button>
              <button type="submit" class="btn-pokemon">
                Réinitialiser le mot de passe
              </button>
            </div>
          </form>
        </dialog>
      </div>

      <!-- Se connecter -->
      <div class="form-bottom d-flex align-items-center">
        <div class="remember">
          <button class="btn-pokemon" type="submit">Se Connecter</button>
        </div>
        <div class="remember">
          <a [routerLink]="['/register']">Pas encore inscrit?</a>
        </div>
      </div>
    </div>
  </form>
</div>
