<div class="pokedex">
    <div class="panel left-panel">
        <div id="up-left" class="d-flex">
            <div id="buttonGlass">
                <div id="reflect"> </div>
            </div>
            <div id="miniButtonGlass1"></div>
            <div id="miniButtonGlass2"></div>
            <div id="miniButtonGlass3"></div>
        </div>
        <div id="screen">
            <div id="topPicture">
                <div id="buttontopPicture1"></div>
                <div id="buttontopPicture2"></div>
            </div>
            <div id="picture">
                <img [src]="pokemon.picture" alt="Image du pokemon {{pokemon.name}}" height="170" />
            </div>
            <div id="buttonbottomPicture"></div>
            <div id="speakers">
                <div class="sp"></div>
                <div class="sp"></div>
                <div class="sp"></div>
                <div class="sp"></div>
            </div>
        </div>
        <div class="back-left d-flex">
            <div id="blackbutton"></div>
            <div id="barbutton1"></div>
            <div id="barbutton2"></div>
        </div>
    </div>
    <div class="divider">
        <div class="gap"></div>
        <div class="hinge"></div>
        <div class="gap"></div>
        <div class="hinge"></div>
        <div class="gap"></div>
        <div class="hinge"></div>
        <div class="gap"></div>
    </div>
    <div class="panel right-panel">
        <div class="panel-row">
            <div class="screen stats">
                <strong>Taille:</strong> {{pokemon.height}}<br />
                <strong>Poids:</strong> {{pokemon.weight}}<br />
                <strong>Description: </strong>{{pokemon.description}}<br />
            </div>
        </div>

        <div class="panel-row blue-buttons">
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
        </div>
        <div class="panel-row controls">
            <div class="button"></div>
            <div>
                <input type="number" class="screen num-input" placeholder="1" />
                <div class="submit"></div>
            </div>
            <div class="button"></div>
        </div>
    </div>
</div>