<div class="pokedex">
    <div class="panel left-panel">
        <div class="pokemon-name screen">
            bulbasaur<span class="name-no">no. 1</span>
        </div>
        <div>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="pokemon"
                class="pokemon-sprite" />
            <div class="sprite-controls">
                <div class="sprite-control sprite-controls-gender">
                    <i class="fas fa-venus"></i>
                </div>
                <div class="sprite-control sprite-controls-shiny">
                    <span>shiny</span>
                </div>
                <div class="sprite-control sprite-controls-rotate">
                    <i class="fas fa-undo"></i>
                </div>
            </div>
        </div>
        <div class="pokemon-description screen">
            For some time after its birth, it grows by gaining nourishment from the
            seed on its back.
        </div>
    </div>
    <div class="divider">
        <div class="gap"></div>
        <div class="hinge"></div>
        <div class="gap"></div>
        <div class="hinge"></div>
        <div class="gap"></div>
        <div class="hinge"></div>
        <div class="gap"></div>
    </div>
    <div class="panel right-panel">
        <div class="panel-row">
            <div class="screen stats">
                <div class="stat-line">hp................45</div>
                <div class="stat-line">attack............49</div>
                <div class="stat-line">defense...........49</div>
                <div class="stat-line">special-attack....65</div>
                <div class="stat-line">special-defense...65</div>
                <div class="stat-line">speed.............45</div>
            </div>
            <div class="type-list">
                <div class="panel-header">Types</div>
                <div class="type-box">
                    <div class="type grass">grass</div>
                    <div class="type poison">poison</div>
                </div>
            </div>
        </div>
        <div class="panel-row panel-evo">
            <div>
                <div class="flex-center">
                    <div class="evo-num">I</div>
                </div>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="pokemon"
                    class="pokemon-sprite pokemon-sprite-small" />
                <div class="screen evo-name">bulbasaur</div>
            </div>
            <div>
                <div class="flex-center">
                    <div class="evo-num">II</div>
                </div>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" alt="pokemon"
                    class="pokemon-sprite pokemon-sprite-small" />
                <div class="screen evo-name">ivysaur</div>
            </div>
            <div>
                <div class="flex-center">
                    <div class="evo-num">III</div>
                </div>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png" alt="pokemon"
                    class="pokemon-sprite pokemon-sprite-small" />
                <div class="screen evo-name">venusaur</div>
            </div>
        </div>
        <div class="panel-row blue-buttons">
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
            <div class="blue-button"></div>
        </div>
        <div class="move-list">
            <div class="move-body move-screen screen">
                <div class="move-left">
                    <div class="move-name">razor-wind</div>
                    <div class="move-stat">Accuracy.....100</div>
                    <div class="move-stat">Power.........80</div>
                    <div class="move-stat">PP............10</div>
                </div>
                <div class="move-right">
                    <div class="move-type">Type: normal</div>
                    <div class="move-learn">Learn: Lvl 0</div>
                </div>
            </div>
            <div class="move-controls">
                <div class="move-arrow"><i class="fas fa-caret-up"></i></div>
                <div class="move-arrow"><i class="fas fa-caret-down"></i></div>
            </div>
        </div>
        <div class="panel-row controls">
            <div class="button"></div>
            <div>
                <input type="number" class="screen num-input" placeholder="1" />
                <div class="submit"></div>
            </div>
            <div class="button"></div>
        </div>
    </div>
</div>