<div
  class="container d-flex justify-content-center align-items-center"
  *ngIf="pokemon"
>
  <div class="">
    <div class="">
      <form>
        <h1 class="title custom-font-solid d-flex justify-content-center">
          Modifier le Pokémon {{ pokemon.name }} #{{ pokemon.pokedexid }}
        </h1>

        <!-- Champ "Pré-Évolution" (modifiable) -->
        <div class="form-group">
          <input
            #pre_evolution
            type="number"
            class="form-control inputStyle"
            id="Pre_evolution"
            placeholder="Pré-Évolution (ID)"
          />
        </div>

        <!-- Champ "Image" (modifiable) -->
        <div class="form-group">
          <input
            #picture
            type="text"
            class="form-control inputStyle"
            id="Picture"
            placeholder="URL de l'image *"
          />
        </div>

        <!-- Champ "Types" (modifiable) -->
        <div class="form-group">
          <ng-select
            [items]="types"
            [multiple]="true"
            bindLabel="wording"
            [(ngModel)]="selectedTypes"
            [ngModelOptions]="{ standalone: true }"
            [maxSelectedItems]="2"
            placeholder="Types *"
            class="custom"
          >
          </ng-select>
        </div>

        <!-- Champ "Description" (modifiable) -->
        <div class="form-group">
          <textarea
            #description
            class="form-control inputStyle"
            id="Description"
            placeholder="Description *"
          ></textarea>
        </div>

        <div class="row justify-content-md-center buttons">
          <!-- Bouton "Modifier" -->
          <div
            class="form-group d-flex justify-content-center col-md-6"
          >
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#confirmationModal"
            >
              Modifier
            </button>
          </div>
          <div class="d-flex justify-content-center col-md-6">
            <button
              type="button"
              class="btn btn-primary"
              [routerLink]="'/pokemons'"
            >
              Retour
            </button>
          </div>
        </div>

        <!-- Modal de Confirmation -->
        <div
          class="modal fade"
          id="confirmationModal"
          tabindex="-1"
          aria-labelledby="confirmationModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">
                  Confirmation
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Voulez-vous vraiment modifier ce Pokémon ?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Annuler
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  (click)="
                    updatePokemon(
                      +pre_evolution.value,
                      picture.value,
                      selectedTypes,
                      description.value
                    )
                  "
                >
                  Confirmer
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <button
        type="button"
        class="btn btn-danger center-btn buttons"
        data-bs-toggle="modal"
        data-bs-target="#deleteConfirmationModal"
      >
        Supprimer ce Pokémon
      </button>

      <!-- Modal de Confirmation pour la suppression -->
      <div
        class="modal fade"
        id="deleteConfirmationModal"
        tabindex="-1"
        aria-labelledby="deleteConfirmationModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteConfirmationModalLabel">
                Confirmation de Suppression
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir supprimer ce Pokémon ?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
                (click)="deletePokemon(pokemon)"
              >
                Confirmer la Suppression
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
