@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: "Pokemon Hollow";
  src: url("fonts/Pokemon Hollow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pokemon Solid";
  src: url("fonts/Pokemon Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: linear-gradient(rgba(255, 202, 0, 0.4), #ffca00 150%),
    url("../src/assets/img/imgdefont.jpg");
  /* Chemin de l'image depuis la racine du projet */
  background-size: cover;
  /* Ajuste l'image pour couvrir tout l'écran */
  background-position: center;
  /* Centre l'image horizontalement et verticalement */
  background-repeat: no-repeat;
  /* Empêche la répétition de l'image */
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-font-hollow {
  font-family: "Pokemon Hollow", sans-serif;
  font-size: 24px;
  /* Ajustez la taille de police selon vos préférences */
  color: #003a70;
  /* Couleur du texte */
  text-shadow: -1px -1px 0 #003a70, 1px -1px 0 #003a70, -1px 1px 0 #003a70,
    1px 1px 0 #003a70, -1px 0 0 #003a70, 1px 0 0 #003a70, 0 -1px 0 #003a70,
    0 1px 0 #003a70, -2px -2px 0 blue, 2px -2px 0 blue, -2px 2px 0 blue,
    2px 2px 0 blue;
}

.custom-font-solid {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 24px;
  /* Ajustez la taille de police selon vos préférences */
  color: yellow;
  /* Couleur du texte */
  text-shadow: -1px -1px 0 #003a70, 1px -1px 0 #003a70, -1px 1px 0 #003a70,
    1px 1px 0 #003a70, -1px 0 0 #003a70, 1px 0 0 #003a70, 0 -1px 0 #003a70,
    0 1px 0 #003a70, -2px -2px 0 blue, 2px -2px 0 blue, -2px 2px 0 blue,
    2px 2px 0 blue;
}

.btn-pokemon {
  position: relative;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
  color: white;
  font-weight: 500;
  cursor: pointer;
  background-color: #e61515;
  border-radius: 12px;
}

.btn-back {
  position: relative;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
  color: white;
  font-weight: 500;
  cursor: pointer;
  background-color: grey;
  border-radius: 12px;
}

.backButton {
  border: 1px black;
  border-radius: 10px;
  margin-top: 10px;
  color: black;
  background: #adb9c0;
}
