<div class="main-forms">
    <div class="signup-form">
        <form class="sign-back" action="" method="">
            <h1>sign UP</h1>
            <div class="signup-row">
                <i class="fa fa-user"></i>
                <input type="text" name="" value="" placeholder="FULL NAME" />
            </div>
            <div class="signup-row">
                <i class="fa fa-envelope-o"></i>
                <input type="text" name="" value="" placeholder="EMAIL" />
            </div>
            <div class="signup-row">
                <i class="fa fa-phone"></i>
                <input type="text" name="" value="" placeholder="MOBILE" />
            </div>
            <div class="signup-row">
                <i class="fa fa-key"></i>
                <input type="password" name="" value="" placeholder="PASSWORD" />
            </div>
            <div class="signup-row">
                <a href="#">
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                </a>
            </div>
            <div class="form-bottom">
                <div class="remember">
                    <input type="checkbox" name="" value="" />
                    <span>Remember</span>
                </div>
                <div class="remember">
                    <a href="#">Already Have Account ?</a>
                </div>
            </div>
        </form>
    </div>
</div>